/* information */
/* the .css file is split up based on what kind of reference is used toward an html tag: tags, class, id */

/* color palette */
/*
dark            = #232B25
dark brown      = #593926
brown           = #82501E
dark orange     = #DF9928
orange          = #E9BA2E
light orange    = #FFD245
yellow          = #FFE08D
*/

/* tags */
body {
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: linear-gradient(to right, #232B25, #82501E, #82501E, #82501E, #82501E, #82501E, #232B25);
    width: 100vw;
}

main {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

img {
    max-width: 30%;
    border-radius: 50%;
    border-style: outset;
    border-color: #FFD245;
    border-width: 0.1em;
    margin: 1vw 5vw;
}

/* class */
.ascii-art {
    font-size: 1.8vw;
    font-weight: bold;
}

.text {
    font-size: 4vw;
    padding: 3%;
    color: #FFE08D;
    font-family: Georgia, serif;
}

.barrel-link {
    font-size: 2vw;
    margin: 0 10vw 0 0;
    font-weight: 900;
    color: #E9BA2E;
}

.barrel-link:hover {
    color: #FFE08D;
}

.barrel-anchor {
    text-decoration: none;
}

.topic-card {
    display: flex;
    flex-direction: column;

    font-size: 4vw;
    border-radius: 20px;
    border: dashed #E9BA2E 0.1em;

    margin: 1rem 0;
    padding: 1rem;
}

.topic-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.topic-titles {
    font-size: 6vw;
    font-family: Georgia, serif;
    color: #FFE08D;
}

#information-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* id */
#byte-brewers {
    font-weight: 900;
    background: linear-gradient(#FFE08D, #FFD245, #FFD245, #DF9928);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1440px) {
    .text {
        font-size: 2rem;
    }

    .topic-titles {
        font-size: 4rem;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .topic-card {
        margin: 3vw 0;
    }
}

