/* information */
/* the .css file is split up based on what kind of reference is used toward an html tag: tags, class, id */

/* color palette */
/*
dark            = #232B25
dark brown      = #593926
brown           = #82501E
dark orange     = #DF9928
orange          = #E9BA2E
light orange    = #FFD245
yellow          = #FFE08D
*/

/* tags */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: linear-gradient(#FFFFFF0A, #82501E0A), linear-gradient(to right, #232B25, #82501E, #82501E, #82501E, #82501E, #82501E, #232B25);
}
/* class */
.ascii{
    font-size: 2vw;
}
/* id */
#byte-brewers{
    font-weight: 900;
    background: linear-gradient(#FFE08D, #E9BA2E, #DF9928, #FFE08D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
